[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ETLUtils"]
	path = ETLUtils
	url = https://github.com/jwijffels/etlutils
[submodule "RMOA"]
	path = RMOA
	url = https://github.com/cran/RMOA
[submodule "RMOAjars"]
	path = RMOAjars
	url = https://github.com/cran/RMOAjars
[submodule "dlib"]
	path = dlib
	url = https://github.com/cran/dlib
[submodule "topicmodels.etm"]
	path = topicmodels.etm
	url = https://github.com/cran/topicmodels.etm
